@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next{
 
      background-color: white;
    padding: 1.25rem; 
    border-radius: 9999px; 
    z-index: 50;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08); /* shadow-md */

}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px !important;
}

.btn-primary {
        background-color: #FFCE1A; /* replace with your primary color */
      padding-left: 3rem; /* 12 * 0.25rem */
      padding-right: 3rem;
      padding-top: 0.5rem; /* 2 * 0.25rem */
      padding-bottom: 0.5rem;
      border-radius: 0.375rem; /* rounded-md */
      font-size: 1rem; /* text-base */
      font-family: var(--secondary-font); /* replace with your secondary font */
      font-weight: bold;
      transition: all 0.2s;
      cursor: pointer;

      :hover {
          background-color: black; /* replace with your secondary color */
          color: white;
      }

}

.html{
 scroll-behavior: smooth;
}
